h1 {
    font-family: Georgia;
    text-align: center;
    background-color: #630303;
    color: #ff7b00;
}

h2 {
    font-family: Times New Roman;
}

h3 {
    font-family: garamond;
    color: blueviolet;
}